{{>new_event}}
<ul class="list-group">
  {{#each events}}
    <li class="list-group-item flex-column row">
      <div class="w-100">
        <strong onclick="submitForm()">{{this.eventname}}</strong><br>
        <small class="text-muted" >
          {{eventdescription}} <br>
        </small>
        <form id="newTabForm" action="/new-page" method="POST" target="_blank" style="display: none;">
          <input type="hidden" name="data" id="data" value={{this.eventid}}>
        </form>
                <div class="sidebar-extra mt-2">
                  <p class="mb-0"><strong>Location:</strong> {{building}} Room {{roomnumber}}</p>
                  <p class="mb-0"><strong>Hosted by:</strong> {{clubsponser}}</p>
                  <p class="mb-0">{{eventDescription}}</p>
                </div>
        <small class="text-muted">
          {{this.eventDateFormatted}} — {{this.startTimeFormatted}} to {{this.endTimeFormatted}}
        </small>
      </div>
    </li>
  <script>
    console.log()
    function submitForm() {
      document.getElementById('newTabForm').submit();
    }
  </script>
  {{/each}}
</ul>
