{{>new_event}}
<ul class="list-group">
  {{#each events}}
    <li class="list-group-item flex-column row">
      <div class="w-100">
        <a href="/event-details?eventID={{this.eventid}}" target="_blank" style="color:black">
            <strong>{{this.eventname}}</strong>
        </a><br>
        <small class="text-muted" >
          {{eventdescription}} <br>
        </small>
                <div class="sidebar-extra mt-2">
                  <p class="mb-0"><strong>Location:</strong> {{building}} Room {{roomnumber}}</p>
                  <p class="mb-0"><strong>Hosted by:</strong> {{clubsponser}}</p>
                  <p class="mb-0">{{eventDescription}}</p>
                </div>
        <small class="text-muted">
          {{this.eventDateFormatted}} — {{this.startTimeFormatted}} to {{this.endTimeFormatted}}
        </small>
      </div>
    </li>
  {{/each}}
</ul>
