<ul class="list-group">
  {{#each events}}
  <li class="list-group-item event-item sidebar-item"
    id="sidebar-item-{{this.eventid}}"
    data-eventid="{{this.eventid}}" onclick="submitFromElement(this)"
    onkeydown="if(event.key === 'Enter') submitFromElement(this)"
    role="button" tabindex="0"
  >
      <div class="w-100">
        <strong class="fs-5">{{this.eventname}}</strong><br>
          <p class="mb-0"><strong>Location:</strong> {{building}} Room {{roomnumber}}</p>
          <p class="mb-0"><strong>Hosted by:</strong> {{clubsponser}}</p>

        <!-- Individual form per event -->
        <form id="eventForm-{{this.eventid}}" action="/event-details" method="GET" target="_blank" style="display: none;">
          <input type="hidden" name="eventID" value="{{this.eventid}}">
        </form>

        <div class="sidebar-extra mt-2">
          <small class="text-muted">{{eventdescription}}</small>
          <form action="/rsvp" method="POST">
            <input type="hidden" name="eventid" value={{this.eventid}}>
            <button type="submit">RSVP</button>
          </form>
        </div>

        <small class="text-muted">
        {{this.eventDateFormatted}} — 
        <span class="d-inline-block">{{this.startTimeFormatted}} to {{this.endTimeFormatted}}</span>
      </small>

      </div>
  </li>
  {{/each}}
</ul>

<!-- script to bring user to an individual event's page on click -->
<script>
    function submitFromElement(el) {
      const eventId = el.dataset.eventid;
      const form = document.getElementById(`eventForm-${eventId}`);
      if (form) {
        form.submit();
      }
    }
  </script>
