<body>
  {{message}}
  <div class="container mt-5">
    {{#if resultsBool}} <!-- if query produced results, show them -->
      <h1>Results for <em>{{keyword}}</em></h1>
      {{#if clubs}}
      <h2>Clubs</h2>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 mt-0">
          {{#each clubs}}
            <div class="col d-flex">
              <div class="card h-100" style="width: 300px;">
                  <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{this.clubname}}</h4>
                    <p class="event-description">{{this.clubdescription}}</p>
                    <div class="mt-auto">
                      <a class="btn btn-primary stretched-link" href="/club-details?club={{this.clubid}}" target="_blank">View Club</a>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
      {{/if}}
      {{#if events}}
        {{#if clubs}}
          <h2 class="mt-4">Events</h2> <!-- if club cards exist, add a little more padding above header -->
        {{else}}
          <h2>Events</h2>
        {{/if}}
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 mt-0">
          {{#each events}}
            <div class="col d-flex">
              <div class="card h-100 event-card" style="width: 350px;">
                  {{!-- <div class="card-header"></div> --}} <!-- add if we do event categories -->
                  <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{this.eventname}}</h4>
                    <p class="event-description">{{this.eventdescription}}</p>
                    <div class="mt-auto">
                      <div class="d-flex align-items-center gap-3 mb-2 text-muted text-end">
                        {{this.eventDateFormatted}}<br>
                        <small>{{this.startTimeFormatted}} - {{this.endTimeFormatted}}</small>
                      </div>
                      <div class="d-flex align-items-center gap-3 mb-2 text-muted text-end">
                        {{this.buildingname}}<br>
                        <small>Room {{this.roomnumber}}<br></small>
                      </div>
                      <a class="btn btn-primary stretched-link" href="/event-details?eventID={{this.eventid}}" target="_blank">View Event</a>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
      {{/if}}
    {{else}} <!-- if no results were found -->
      <h1>No results found.</h1>
      <p>Want to add your own club or event?</p>
    {{/if}}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const eventCards = document.querySelectorAll('.card');
      eventCards.forEach(function (card) {
        const description = card.querySelector('.event-description');

        if (description.scrollHeight > description.clientHeight) { // check if description is truncated on card -> only show popover if truncated
          const popoverTrigger = card.querySelector('.card-body');
          popoverTrigger.setAttribute('data-bs-toggle', 'popover');
          popoverTrigger.setAttribute('data-bs-trigger', 'hover focus');
          popoverTrigger.setAttribute('data-bs-placement', 'top');
          popoverTrigger.setAttribute('title', 'Event Description');
          popoverTrigger.setAttribute('data-bs-content', description.textContent);

          new bootstrap.Popover(popoverTrigger);
        }
      });
    });
  </script>
</body>
